// All responsive styles go here
@media screen and (max-width: 543px) {
  .xs-wrap {
    flex-wrap: wrap;
  }
  .hidden-xs-down {
    display: none;
  }
}

@media screen and (min-width: 544px) {
  .hidden-xs-up {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .page-container {
    padding: 120px 24px 0;
    align-self: stretch;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
      display: none;
  }
  .page-container {
    padding: 64px 24px 0;
    align-self: center;
  }
}
